<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Message digest tools</title>

    <%- include(rootPath + '/common/ejs/head-link-end-script'); %>
</head>
<body x-data :data-bs-theme="$store.theme.value">

<%- include(rootPath + '/common/ejs/nav-bar-with-data', {navbarLinks: [{"name": "Crypto tools", "href": "/crypto-tools"}]}) %>

<div class="container">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center">
        <% for(let encodeDecodeTool of encodeDecodeTools) { %>
            <div class="col text-center">
                <button class="btn mb-2 w-100"
                        @click="$store.encodeDecode.setSelectedType('<%= encodeDecodeTool.group %>', '<%= encodeDecodeTool.displayName %>')"
                        :class="$store.encodeDecode.isType('<%= encodeDecodeTool.group %>') ? 'btn-secondary' : 'btn-outline-secondary'"><%= encodeDecodeTool.displayName %></button>
            </div>
        <% } %>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-center" x-text="'Selected type: ' + $store.encodeDecode.selectedTypeDisplayName">
                        Selected algorithm: MD5
                    </h5>
                    <div class="form-check mb-3" x-show="$store.encodeDecode.supportedFile">
                        <label class="form-check-label" for="supportFile">Load from files</label>
                        <input class="form-check-input"
                               id="supportFile"
                               type="checkbox"
                               x-model="$store.encodeDecode.supportedInputFile"
                               @change="$store.encodeDecode.changeSupportedInputFile($event.target.checked)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/common/js/index.js"></script>
<script src="js/encode-decode.js"></script>
<script src="js/base-x.js"></script>
</body>
</html>