<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Web tools</title>

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.7/dist/cdn.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4818708594989147"
     crossorigin="anonymous"></script>

    <%- include(rootPath + '/common/ejs/head-link-end-script'); %>
</head>
<body x-data :data-bs-theme="$store.theme.value">

<%- include(rootPath + '/common/ejs/nav-bar-with-data') %>
<%- include(rootPath + '/common/ejs/side-nav-start') %>
<div class="row text-center">
    <h1>Make life easier with our one-stop toolkit.</h1>
</div>
<div class="row text-center">
    <h6>
        Discover the ultimate toolkit for simplifying your life, all for free! From productivity hacks to handy
        utilities,
        our one-stop solution has you covered.
        <br/>
        Get ready to make life easier with our collection of tools!

    </h6>
    <p>
        <i>We're constantly adding new tools to help you with even more tasks. Stay tuned!</i>
    </p>
</div>
<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2">
    <%- include(rootPath + '/common/ejs/list-tools'); %>
</div>
<%- include(rootPath + '/common/ejs/side-nav-end') %>

<script src="/common/js/index.js"></script>
</body>
</html>